@import "compass/reset";
@import "compass/css3";
@import "compass/layout";

html {
  width: 1913px;
  height: 2576px;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  
  font-size: 62.5%;

  background-image: url(../image/main_page2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.information {

  position: relative;
  top: 28.05%;
  padding: 0.5%;
  margin-left: 5.9%;
  margin-right: 6.3%;
  height: 10.3%;

  z-index: 1;
  
  @include flex-wrap(wrap);
  @include flexbox((display: flex, flex-direction: row));

  .avatar {
    position: relative;
    width: 16.2%;
    height: 100%;
 
    .img_avatar {
      @include flex(1 0);
      @include border-radius(50%);
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .profile {
    position: relative;
    //padding: -0.1%;
    //margin-left: 0.7%;
    width: 16%;
    height: 100%;

    font-family: "arial";
    font-weight: bold;
    font-size: 47px;
    letter-spacing: 0px;
    color: #8B6;
    
    li{
      text-indent: 30px;
      font-size: 30px;
      line-height: 150%;
      letter-space: -2px;
      font-weight: normal;
      font-variant: small-caps;
    }
  }

  .tasks_accepted {
    position: relative;
    margin: 0.4%;
    margin-left: 1%;
    min-width: 45%;
    height: 95%;
    
    @include flex(3 0);
    @include display-flex;
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-between);
    
    .accepted_task {
      //@include flex(1 0);
      position: relative;
      //margin-right: 5%;
      width: 30%;
      height: 100%;
    }
    .img_task_accepted {
      @include flex(1 0);
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}
  
.task_maps {
  position: relative;
  top: 28%;
  //padding-left: 0.6%;
  //padding-right: 0.6%;
  padding-bottom: 10%;
  height: 48.6%;

  //display: inline-block;

  @include display-flex;
  @include flex-wrap(wrap);
  @include justify-content(center);
  //@include flexbox((display: box));

  .task_map {
    //top: 10%;
    padding: 1.2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 4.2%;
    margin-right: 5%;
    margin-top: 3.95%;
    margin-bottom: 2.4%;
    width: 37.4%;
    height: 38.5%;

    @include display-flex;
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    @include justify-content(center);

    .task_map_title {
      margin-left: 1%;
      margin-right: 1%;
      padding-top: 4%;
      width: 100%;
      height: 12.5%;

      text-align: left;
      font-family: "arial";
      font-size: 50px;
      font-weight: bold;
      font-variant: small-caps;
      color: #8B6;
    }

    .task_card {
      position: relative;
      //border: dashed;
      //border-color: #8B6;
      width: 48%;
      height: 81%;
      margin-left: 1%;
      margin-right: 1%;

      .mark_in_progress {
        top: 40%;
        width: 100%;
        height: 20%;
        position: absolute;
        display: none;
        font-size: 50px;
        color: #8B6;
        //opacity: 1;
        text-align: center;
        z-index: 10;
      }

      .img_unclicked {
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-color: white;

        @include flex(1 0);
      }
      .img_clicked {
        width: 100%;
        height: 100%;
        opacity: 1.0;

        @include flex(1 0);
      }
    }

  }
}

.light_box {
  width: 40%;
  height: 70%;
  border: solid;
  border-color: #CCC;
  background-color: #CCC;
  @include border-radius(10px);
  padding: 5px;
  position: fixed;
  z-index: 1001;

  margin: 5%;
  margin-left: 29%;
  display: none;

  @include flex-wrap(wrap);
  //@include flex-direction(vertical);
  //@include align-items(right);
  @include justify-content(center);

  #lb-task-type {
    @include flex(1 0);
    position: relative;
    width: 100%;
    height: 10%;
    background-color: red;

    font-size: 20px;
    text-align: center;
    color: yellow;
  }

  #lb-task-img {
    @include flex(1 0);
    @include display-flex;
    @include justify-content(center);
    width: 100%;
    height: 40%;

    .img_lightbox {
      position: relative;
      @include flex(1 0);
      min-width: 40%;
      max-width: 60%;
      height: 100%;
    }
  }

  #lb-task-description {
    @include flex(1 0);
    width: 100%;
    height: 40%;
    background-color: blue;

    font-size: 40px;
    color: white;
    text-align: center;
  }

  #lb-buttons {
    @include display-flex;
    @include flex-wrap(wrap);
    @include flexbox((display: flex, flex-direction: row));
    width: 100%;
    height: 10%;
    //@include justify-content(center);

    .btn_lightbox {
      //@include display-flex;
      display: box;
      position: relative;
      @include flex(1 0);
      width: 20%;
      height: 100%;
    }
  }
}

#light-box-bg {
  display: none;
  background-color: black;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}








