/* line 5, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
html {
  width: 1913px;
  height: 1560px;
}

/* line 10, ../sass/style.scss */
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  background-image: url(../image/main_page.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* line 22, ../sass/style.scss */
.information {
  position: relative;
  top: 14%;
  padding-left: 0.8%;
  padding-right: 0.95%;
  padding-top: 0.5%;
  padding-bottom: 0.6%;
  margin-left: 1.6%;
  margin-right: 1.5%;
  height: 11.7%;
  z-index: 1;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}
/* line 39, ../sass/style.scss */
.information .avatar {
  position: relative;
  width: 17.9%;
  height: 100%;
}
/* line 44, ../sass/style.scss */
.information .avatar .img_avatar {
  -webkit-flex: 1 0;
  flex: 1 0;
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 52, ../sass/style.scss */
.information .profile {
  position: relative;
  padding: 0.3%;
  margin-left: 0.7%;
  width: 17%;
  height: 100%;
  font-family: "arial";
  font-weight: bold;
  font-size: 30px;
  color: #8B6;
}
/* line 64, ../sass/style.scss */
.information .profile li {
  text-indent: 2em;
  font-size: 20px;
  font-weight: normal;
  font-variant: small-caps;
}
/* line 72, ../sass/style.scss */
.information .tasks_accepted {
  position: relative;
  margin-left: 1%;
  min-width: 45%;
  height: 100%;
  -webkit-flex: 3 0;
  flex: 3 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 85, ../sass/style.scss */
.information .tasks_accepted .accepted_task {
  position: relative;
  width: 30%;
  height: 100%;
}
/* line 92, ../sass/style.scss */
.information .tasks_accepted .img_task_accepted {
  -webkit-flex: 1 0;
  flex: 1 0;
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 101, ../sass/style.scss */
.task_maps {
  position: relative;
  top: 14%;
  padding-left: 0.6%;
  padding-right: 0.6%;
  height: 54.5%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 115, ../sass/style.scss */
.task_maps .task_map {
  padding-top: 0.9%;
  padding-left: 0.9%;
  padding-right: 0.9%;
  width: 48.2%;
  height: 48.2%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 127, ../sass/style.scss */
.task_maps .task_map .task_map_title {
  margin: 2%;
  width: 80%;
  max-width: 100%;
  text-align: left;
  font-family: "arial";
  font-size: 40px;
  font-weight: bold;
  font-variant: small-caps;
  color: #8B6;
}
/* line 140, ../sass/style.scss */
.task_maps .task_map .task_card {
  position: relative;
  border: dashed;
  border-color: #8B6;
  width: 40%;
  height: 70%;
  margin: 2%;
}
/* line 148, ../sass/style.scss */
.task_maps .task_map .task_card .mark_in_progress {
  top: 40%;
  width: 100%;
  height: 20%;
  position: absolute;
  display: none;
  font-size: 50px;
  color: #8B6;
  text-align: center;
  z-index: 10;
}
/* line 161, ../sass/style.scss */
.task_maps .task_map .task_card .img_unclicked {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: white;
  -webkit-flex: 1 0;
  flex: 1 0;
}
/* line 169, ../sass/style.scss */
.task_maps .task_map .task_card .img_clicked {
  width: 100%;
  height: 100%;
  opacity: 1.0;
  -webkit-flex: 1 0;
  flex: 1 0;
}

/* line 181, ../sass/style.scss */
.light_box {
  width: 40%;
  height: 70%;
  border: solid;
  border-color: #CCC;
  background-color: #CCC;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  position: fixed;
  z-index: 1001;
  margin: 5%;
  margin-left: 29%;
  display: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 201, ../sass/style.scss */
.light_box #lb-task-type {
  -webkit-flex: 1 0;
  flex: 1 0;
  position: relative;
  width: 100%;
  height: 10%;
  background-color: red;
  font-size: 20px;
  text-align: center;
  color: yellow;
}
/* line 213, ../sass/style.scss */
.light_box #lb-task-img {
  -webkit-flex: 1 0;
  flex: 1 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}
/* line 220, ../sass/style.scss */
.light_box #lb-task-img .img_lightbox {
  position: relative;
  -webkit-flex: 1 0;
  flex: 1 0;
  min-width: 40%;
  max-width: 60%;
  height: 100%;
}
/* line 229, ../sass/style.scss */
.light_box #lb-task-description {
  -webkit-flex: 1 0;
  flex: 1 0;
  width: 100%;
  height: 40%;
  background-color: blue;
  font-size: 40px;
  color: white;
  text-align: center;
}
/* line 240, ../sass/style.scss */
.light_box #lb-buttons {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
}
/* line 248, ../sass/style.scss */
.light_box #lb-buttons .btn_lightbox {
  display: box;
  position: relative;
  -webkit-flex: 1 0;
  flex: 1 0;
  width: 20%;
  height: 100%;
}

/* line 259, ../sass/style.scss */
#light-box-bg {
  display: none;
  background-color: black;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}
