/* line 5, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
body {
  font-size: 62.5%;
}

/* line 9, ../sass/style.scss */
.information {
  padding: 10px;
  border: solid;
  border-color: orange;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  -webkit-flex-direction: row;
  display: box;
  flex-direction: row;
}
/* line 20, ../sass/style.scss */
.information .avatar {
  -webkit-flex: 1 0;
  flex: 1 0;
  border: dashed;
  width: 15%;
}
/* line 26, ../sass/style.scss */
.information .avatar .img_avatar {
  width: 100%;
}
/* line 31, ../sass/style.scss */
.information .profile {
  border: dashed;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "arial";
  font-weight: bold;
  font-size: 30px;
  -webkit-flex: 2 0;
  flex: 2 0;
  width: 30%;
}
/* line 42, ../sass/style.scss */
.information .profile li {
  text-indent: 4em;
  font-size: 18px;
  font-weight: normal;
  font-variant: small-caps;
}
/* line 50, ../sass/style.scss */
.information .tasks_accepted {
  border: dashed;
  width: 50%;
  -webkit-flex: 3 0;
  flex: 3 0;
}
/* line 56, ../sass/style.scss */
.information .tasks_accepted .img_task_accepted {
  margin: 1%;
  margin-right: 1%;
  width: 30%;
  hight: 100%;
}

/* line 65, ../sass/style.scss */
.task_maps {
  padding: 3%;
  display: inline-block;
  border: solid;
  border-color: lime;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 73, ../sass/style.scss */
.task_map {
  border: solid;
  border-color: blue;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  float: left;
  width: 40%;
  margin: 3%;
}

/* line 83, ../sass/style.scss */
.task_map_title {
  display: block;
  text-align: left;
  font-family: "arial";
  font-size: 30px;
  font-weight: bold;
  font-variant: small-caps;
  margin: 3px;
}

/* line 93, ../sass/style.scss */
.img_unclicked {
  width: 48%;
  height: 48%;
  opacity: 0.4;
}

/* line 98, ../sass/style.scss */
.img_clicked {
  width: 48%;
  height: 48%;
  opacity: 1.0;
}

/* line 105, ../sass/style.scss */
.light_box {
  width: 40%;
  height: 40%;
  position: absolute;
  margin-top: 0%;
  margin-left: 29%;
  display: none;
}

/* line 115, ../sass/style.scss */
.img_lightbox {
  width: 100%;
}
