/* line 5, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
body {
  font-size: 62.5%;
  background: url(image/Main_Page.jpg);
}

/* line 11, ../sass/style.scss */
.information {
  position: relative;
  z-index: 1;
  padding: 10px;
  border: solid;
  border-color: orange;
  background-color: orange;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}
/* line 29, ../sass/style.scss */
.information .avatar {
  -webkit-flex: 1 0;
  flex: 1 0;
  padding: 5px;
  border: dashed;
  min-width: 15%;
}
/* line 36, ../sass/style.scss */
.information .avatar .img_avatar {
  width: 100%;
}
/* line 41, ../sass/style.scss */
.information .profile {
  border: dashed;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: "arial";
  font-weight: bold;
  font-size: 30px;
  min-width: 30%;
  -webkit-flex: 2 0;
  flex: 2 0;
}
/* line 54, ../sass/style.scss */
.information .profile li {
  text-indent: 4em;
  font-size: 18px;
  font-weight: normal;
  font-variant: small-caps;
}
/* line 62, ../sass/style.scss */
.information .tasks_accepted {
  position: relative;
  border: dashed;
  padding: 5px;
  min-width: 45%;
  -webkit-flex: 3 0;
  flex: 3 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 76, ../sass/style.scss */
.information .tasks_accepted .accepted_task {
  margin-right: 5px;
  width: 30%;
  height: 100%;
  border: dashed;
}
/* line 82, ../sass/style.scss */
.information .tasks_accepted .img_task_accepted {
  width: 100%;
}

/* line 95, ../sass/style.scss */
.task_maps {
  padding: 3%;
  border: solid;
  border-color: lime;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 107, ../sass/style.scss */
.task_maps .task_map {
  padding: 5px;
  border: solid;
  border-color: blue;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 40%;
  margin: 3%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 125, ../sass/style.scss */
.task_maps .task_map .task_map_title {
  margin: 3px;
  min-width: 80%;
  text-align: left;
  font-family: "arial";
  font-size: 30px;
  font-weight: bold;
  font-variant: small-caps;
}
/* line 140, ../sass/style.scss */
.task_maps .task_map .task_card {
  position: relative;
  border: dashed;
  width: 40%;
  height: 40%;
  margin: 5px;
}
/* line 148, ../sass/style.scss */
.task_maps .task_map .task_card .mark_in_progress {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  font-size: 20px;
  opacity: 0.6;
}
/* line 160, ../sass/style.scss */
.task_maps .task_map .task_card .img_unclicked {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: white;
}
/* line 169, ../sass/style.scss */
.task_maps .task_map .task_card .img_clicked {
  width: 100%;
  height: 100%;
  opacity: 1.0;
}

/* line 183, ../sass/style.scss */
.light_box {
  width: 40%;
  min-height: 40%;
  border: solid;
  border-color: #CCC;
  background-color: #CCC;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  position: fixed;
  z-index: 1001;
  margin: 5%;
  margin-left: 29%;
  display: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: right;
  align-items: right;
}
/* line 205, ../sass/style.scss */
.light_box .img_lightbox {
  position: relative;
  min-width: 80%;
  max-width: 100%;
}
/* line 212, ../sass/style.scss */
.light_box #sect-lightbox-buttons {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}
/* line 219, ../sass/style.scss */
.light_box .btn_lightbox {
  position: relative;
  -webkit-flex: 1 0;
  flex: 1 0;
  min-width: 20%;
}

/* line 227, ../sass/style.scss */
#light-box-bg {
  display: none;
  background-color: black;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}
